.contacts{
  height: 100vh;
  background-color: rgb(74, 87, 86);
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}