.footer{
  height: 300px;
  background-color: rgb(43, 44, 44);
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}