.skills{
  height: 100vh;
  background-color: rgb(133, 185, 182);
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}